a{margin-left:2px;
margin-right:2px;}
	
a:visited{
	text-decoration:none;
	color:blue;
}
a:link {
	text-decoration:none;
	color:blue;
}
a:unvisited {
	text-decoration:none;
	color:blue;
}
a:hover {
	border:outset thin blue;
	color:red;
}
#footer {
	z-index:-1;
	position:fixed;
	height:50px;
	bottom:20px;
	width:100%;
	margin-top:20px;
	padding-top:20px;
}
#text {
	width:70px;
    color:#F00;
}
#footer p{
	text-align:center;}